<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coderun-lite</title>
    <script type="module" crossorigin src="/apps/coderun-lite/view/assets/index-CjpDk1R3.js"></script>
    <link rel="stylesheet" crossorigin href="/apps/coderun-lite/view/assets/index-BaB2rcat.css">
  </head>
  <body>
    <div id="root" style="height: 100%;"></div>
  </body>
</html>
